@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body{
  margin:0;
}

.mcWrapper{
  background-color:black;
  color:white;
  position:relative;
  display:grid;
  place-items:center;
  max-height:100vh;
  overflow:hidden;
}
.mcHeading{
  margin-left: 3vw;
  position: absolute;
  font-size: clamp(23px,3vw,30px);
  left: 0;
  top: 0;
  text-shadow: 0 0 6px black;
  letter-spacing: -1px;
}
.mcHeading:after{
  position: absolute;
  content: "";
  background-color: rgba(260,260,260,0.5);
  width: 140%;
  height: 1px;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 2px black;
}
.mcPara{
  font-size: clamp(10px,1.5vw,14px);
  position: absolute;
  top: 12vh;
  left: 5vw;
  text-align: justify;
  line-height: 1.5;
  font-family: Georgia;
  letter-spacing: 1px;
  width: 33vw;
}
.mcRedBox{
  position:relative;
  background-color:#b13924;
  height:100vh;
  width:100vw;
  transform:translateX(49.6vw);
}
.mcImg{
  position:absolute;
  top:0;
  height:150%;
  width:auto;
}
.mcNameBehind, .mcNameFront{
  font-family:Oswald,Monaco;
  position:absolute;
  font-size:10vw;
  text-size-adjust:125%;
}
.mcNameFront{
  color:transparent;
  -webkit-text-stroke:1px white;
}

.mcNameBehind>.mcspan1{
  color:#b13924;
}
.mcNameBehind>.mcspan2{
  color:white;
}


.header{
  position: relative;
  height: 59vh;
  padding: 6.5em 6.5em 6.5em 3.3em;
  background-image: url("/media/narutobg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: black;
  background-position: top right;
  display: grid;
  gap: 3vw;
  align-items: center;
  align-content: center;
  justify-content: start;
}

.headerLogo{
  font-family: "naruto", sans-serif;
  font-size: 9vw;
  margin: 0;
  color: orangered;
  letter-spacing: 0.6vw;
  text-shadow: 1px 0px 4px black;
}
.headerSlogan{
  font-family: ui-sans-serif;
  font-size: 2vw;
  text-align: center;
  margin: 0;
  color: #ffa776;
  letter-spacing: 0.4vw;
  text-shadow: 0 0 5px black;
}



.topCharactersSection{
  width: 95vw;
  display: flex;
  background-color: black;
  justify-items: center;
  /* padding: 1em 0; */
  flex-wrap: wrap;
  gap: 4em;
  justify-content: space-evenly;
  max-width: 1072px;
  margin: 3vw;
}

.famCard{
  display: grid;
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  width: clamp(50px,15vw,160px);
  min-width: 150px;
  min-height: 225px;
  height: clamp(50px,25vw,200px);
  background-color: var(--orange);
  cursor: var(--pointer);
  background-size: auto 100%;
  background-position: center;
  box-shadow: 1px 1px 9px white;
  transition: all 0.2s ease;
  animation: 0.2s linear 0s infinite alternate pointer;
  filter: contrast(1.1);
}
.topCharactersSection:has(.famCard:hover) .famCard:not(:has(:hover)){
  filter:blur(1px);
}
.famCard:hover{
  box-shadow: 0px 0px 20px white;
  background-size: auto 107%;
}
.famname{
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.2em 0.2em;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, black 0%,transparent, transparent);
  margin: 0;
  justify-content: flex-end;
  font-size: 16px;
  font-family: Garamond;
  letter-spacing: 1px;
  line-height: 1.2;
}
.famCard > img{
  transition: all 0.2s ease-in;
}
.famCard:hover > img{
  transform: scale(1.2);
}



/* media queries */
@media(width<=600){
  /* this is for mcpara */
}